<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VerifyFreePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="VerifyFreePortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://streetmaster.streetmaster.it:443/smws/verify_free"
                binding="basicHttpBinding" bindingConfiguration="VerifyFreePortBinding"
                contract="VerifyFreeWS.VerifyFree" name="VerifyFreePort" />
        </client>
    </system.serviceModel>
</configuration>